body{
  background-color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Montserrat', serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.bgimage{
  position: relative;
}
.text1{
  font-style: italic;
  font-size: 3rem;
  position: absolute;
  top:24px;
  left:240px;
}
.text2{
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  top:320px;
  left:550px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.technical{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.objective-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.objectives{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.education-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.educations{
  width: 26%;
  float: left;
  margin-right: 30px;
}
.activity-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.activitys{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.hobbies-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.hobbiess{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.strength-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.strengths{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0 0 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
hr{
  border: dotted #99A799 6px;
  border-bottom: none;
  width:4%
}
